.detail-header {
  display: flex;
  justify-content: space-between;
  margin: 16px 0px;
  height: 40px;
  line-height: 40px;
}

.detail-tabs-button {
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;
}